<div class="booyah-layout col-10 offset-1">
  <div class="intro">
    <!--<%= image_tag 'me.jpg', class: "me" %>-->
    <h1 class="name">Robert Adame</h1>
    <h2 class="title">Full Stack Web Developer</h2>
    <p class="about col-10 offset-1">I am a growing Full Stack Web Developer. Previously I have made a successful career of working for industry leading companies such as Dexcom and supporting their end consumers. This includes direct consumer interactions and also paving the way for new employees by supervising teams, running training classes and developing world class training materials.</p>
  </div>
  <br />
  <br />

  <div class="guidance">
    <p class="suggest col-10 offset-1">Please feel free to check out my current <%= link_to 'projects', projects_path %>. You will find a range of projects utilizing different skills that I have developed including use of: Ruby on Rails, PostgreSQL, JavaScript, Node/React, Bootstrap, HTML and CSS. Additionally there is also links directly to the Applications in their live environments and the GitHub repositories</p>

    <br />
    <br />

    <p class="business col-10 offset-1">If you have a business inquiry reach out to me at my email <a href="mailto:radamejr@gmail.com" class="contact-link">radamejr@gmail.com</a> You can also download a PDF of <%= link_to "my resume", asset_path("Adame_Robert_-_Resume.docx.pdf"), target: :_blank %> or visit my <%= link_to "GitHub", 'https://github.com/radamejr', target: :_blank %> and <%= link_to "LinkedIn", 'https://www.linkedin.com/in/radamejr/', target: :_blank %> profiles.
      
    </p>


  </div>
  <br />
  <br />


</div>