<div class="booyah-box col-10 offset-1">
  <h1> EDIT A PROJECT</h1>
  <%= simple_form_for @project do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :utilized %>
    <%= f.input :url %>
    <%= f.input :git_url %>
    <%= f.file_field :preview %>
    <%= f.submit 'Edit Project', class: 'btn btn-primary float-right' %>
    
  <% end %>
</div>